In [1]:
import findspark
findspark.init()
import pyspark
from pyspark import SparkContext
from pyspark.streaming import StreamingContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import desc
from collections import namedtuple
import time
from IPython import display
import matplotlib.pyplot as plt
import seaborn as sns
import pandas
# from tweepy import StreamingClient
import tweepy
import socket

# Initialisation du spark context

In [2]:
sc = SparkContext()
#Lancer le StreamingContext avec un intervalle de lot de 10 secondes
ssc = StreamingContext(sc, 10)
sqlContext = SQLContext(sc)

C:\Users\yousa\anaconda3\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

# Connexion avec le port TCP

In [3]:
listen_to_ip = socket.gethostname()
listen_to_port = 9009
print(listen_to_ip)
#lancer la diffusion de texte en continu à partir d’une source TCP (socket) :
socket_stream = ssc.socketTextStream(listen_to_ip, 9009)
lines = socket_stream.window(60)

DESKTOP-NNMR9UL

# Traitement par pyspark

In [4]:
fields = ("hashtag", "count" )
Tweet = namedtuple( 'Tweet', fields )

lines.flatMap( lambda text: text.split("\n")).filter( lambda word: word.lower()).map( lambda word: ( word.lower(), 1 ) ).reduceByKey( lambda a, b: a + b ).pprint()

In [5]:
 #Splits to a list
  #Vérifie les appels de hashtag  
    #.startswith("#") 
    
    
    #Stocke dans un objet Tweet
#   .map(lambda rec: Tweet( rec[0], rec[1] ))
 
 #Trie dans un dataframe
#   .foreachRDD( lambda rdd: rdd.toDF().sort( desc("count"))
              
 #N’enregistre que les 10 meilleurs hashtags d’une table.
#   .limit(10).registerTempTable("tweets") ) )

In [5]:
#Lancer le streaming
ssc.start()

-------------------------------------------
Time: 2022-05-06 12:33:00
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:33:10
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:33:20
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:33:30
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:33:40
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:33:50
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:34:00
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:34:10
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:34:20
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:34:30
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:34:40
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:34:50
-------------------------------------------

###### Visualisation des tweets

In [8]:
get_ipython().run_line_magic('matplotlib', 'inline')
count = 0
while count < 5:
    
    time.sleep(5)
    top_10_tags = sqlContext.sql( 'Select hashtag, count from tweets' )
    print(top_10_tags)
    top_10_df = top_10_tags.toPandas()
    display.clear_output(wait=True)
    plt.figure( figsize = ( 10, 8 ) )
    sns.barplot( x="count", y="hashtag", data=top_10_df)
    plt.show()
    count = count + 1
    print(count)

-------------------------------------------
Time: 2022-05-06 12:28:20
-------------------------------------------

AnalysisException: Table or view not found: tweets; line 1 pos 27;
'Project ['hashtag, 'count]
+- 'UnresolvedRelation [tweets], [], false

-------------------------------------------
Time: 2022-05-06 12:28:30
-------------------------------------------

In [6]:
# stop streaming and wait couple of minutes to get enought tweets
ssc.stop(stopSparkContext=False, stopGraceFully=True)

-------------------------------------------
Time: 2022-05-06 12:20:50
-------------------------------------------

-------------------------------------------
Time: 2022-05-06 12:21:00
-------------------------------------------